.button {
  color: var(--color-white);
  background-color: var(--background-color-button);
  border-radius: 5px;
  align-items: center;
  margin-left: 20px;
  padding: 10px 20px;
  font-weight: 700;
  line-height: 1.65em;
  display: flex;
  border: none;
}
