.container {
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  background-color: var(--background-color-element);
  width: 100%;
  display: flex;
  padding: 15px 20px;

  div {
    flex: 1;
  }

  .logo {
    flex: 1;
    width: 160px;
    height: 30px;
    color: var(--color-black);
    background-image: url('https://global-uploads.webflow.com/6278ffa…/6278ffa…_sparkloop-dark-logo.svg');
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    display: flex;

    &:hover {
      cursor: pointer;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    text-align: right;

    li {
      align-items: center;
      margin-left: 5px;
      padding: 10px 20px;
      display: flex;
      font-size: 0.95rem;

      &:hover {
        cursor: pointer;
      }

      .icon {
        padding-left: 10px;
      }
    }
  }

  a {
    font-weight: 400;
  }
}
